<div class="outer">
    <div class="headline">Traffic Information</div>
    <div class="controls-container">
        <div class="p-grid thegrid">
            <div class="p-col-12 p-md-6 p-lg-4">
                <button
                    pButton
                    class="sr-button-wide"
                    [disabled]="isLoading || !geolocationAvailable"
                    (click)="onFetchPosition()"
                    icon="pi pi-compass"
                    iconPos="right"
                    label="Fetch your nearest area"
                ></button>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4 center area-dd">
                <p-dropdown
                    (onChange)="onAreaChanged($event)"
                    [disabled]="isLoading"
                    [(ngModel)]="selectedArea"
                    [options]="areaOptions"
                    placeholder="Choose/select area"
                ></p-dropdown>
            </div>
            <div class="p-col-12 p-md-12 p-lg-4">
                <button
                    pButton
                    class="sr-button-wide"
                    [disabled]="selectedArea === undefined"
                    (click)="onRefresh()"
                    icon="pi pi-refresh"
                    iconPos="right"
                    label="Fetch new messages"
                ></button>
            </div>
            <div class="p-col-6 p-lg-6 center num-msg-ctn">
                {{ numFilteredMessagesInfo() }}
            </div>
            <div class="p-col- p-lg-6">
                <button
                    pButton
                    class="sr-button-wide"
                    [disabled]="isLoading || !hasMessagesToDisplay()"
                    (click)="onShowAllPositionsOnMap()"
                    icon="pi pi-globe"
                    iconPos="right"
                    label="Show all on the map"
                ></button>
            </div>
            <div class="p-col-12 p-lg-12" *ngIf="!messages || messages.length === 0; else sortfilt"></div>
        </div>
    </div>
    <div *ngIf="messages">
        <div *ngFor="let m of messages; index as i">
            <app-info-card
                *ngIf="matchesKeyword(m) && matchesFilter(m)"
                [message]="m"
                [showMapLink]="true"
                [userPos]="position"
            >
            </app-info-card>
        </div>
    </div>
</div>

<ng-template class="drop" #sortfilt>
    <div class="sortfilt-ctn">
        <p-accordion class="p-accordion">
            <p-accordionTab header="Sorting & filtering">
                <div class="search-ctn">
                    <div class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="search" [(ngModel)]="keyword" />
                    </div>
                    <span class="clear-btn">
                        <button
                            pButton
                            (click)="onClear()"
                            [disabled]="isLoading"
                            iconPos="right"
                            label="clear"
                        ></button>
                    </span>
                </div>

                <div class="p-grid" styleClass="sortfilt-content">
                    <div class="p-col-6">
                        <div class="sort-filt-label">Sorting</div>
                        <div class="p-field-radiobutton">
                            <p-radioButton
                                (onClick)="onSortOrderChanged()"
                                value="1"
                                [(ngModel)]="sortOrder"
                                label="highest priority"
                            ></p-radioButton>
                        </div>
                        <div class="p-field-radiobutton">
                            <p-radioButton
                                (onClick)="onSortOrderChanged()"
                                value="3"
                                [(ngModel)]="sortOrder"
                                label="most recent"
                            >
                            </p-radioButton>
                        </div>
                        <div class="p-field-radiobutton">
                            <p-radioButton
                                (onClick)="onSortOrderChanged()"
                                value="2"
                                [(ngModel)]="sortOrder"
                                label="nearest"
                                [disabled]="!position.lat"
                            ></p-radioButton>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="sort-filt-label">Filtering</div>
                        <div class="p-field-checkbox">
                            <p-checkbox
                                (onChange)="onCheckChanged()"
                                [(ngModel)]="settings.showTodayOnly"
                                binary="true"
                                label="Published today"
                            ></p-checkbox>
                        </div>
                        <div class="p-field-checkbox">
                            <p-checkbox
                                (onChange)="onCheckChanged()"
                                [(ngModel)]="settings.showTrafficIncidentsOnly"
                                binary="true"
                                label="Only accidents"
                            >
                            </p-checkbox>
                        </div>
                        <div class="p-field-checkbox">
                            <p-checkbox
                                (onChange)="onCheckChanged()"
                                [(ngModel)]="settings.includeSubcategoryRoadwork"
                                binary="true"
                                label="Show roadworks"
                            >
                            </p-checkbox>
                        </div>
                        <div class="p-field-checkbox">
                            <p-checkbox
                                (onChange)="onCheckChanged()"
                                [(ngModel)]="settings.showPublicTransportOnly"
                                binary="true"
                                label="Only public transportation"
                            >
                            </p-checkbox>
                        </div>
                        <div class="p-field-checkbox">
                            <p-checkbox
                                (onChange)="onCheckChanged()"
                                [(ngModel)]="settings.showRoadTrafficOnly"
                                binary="true"
                                label="Show only road traffic"
                            >
                            </p-checkbox>
                        </div>
                        <div class="p-field-checkbox">
                            <p-checkbox
                                (onChange)="onCheckChanged()"
                                [(ngModel)]="showOnlyWithinRadius"
                                binary="true"
                                label="Within a 100 km radius"
                                [disabled]="!position.lat"
                            >
                            </p-checkbox>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
</ng-template>
