@use '../../../base.scss';

.headline {
    margin-left: auto;
    margin-right: auto;
    margin-top: base.$margintop;
    margin-bottom: base.$margintop;
    max-width: 300px;
    font-weight: bolder;
    font-size: 2em;
    color:rgb(120, 98, 206);
}

.controls-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: base.$ctlwidth-wide;
    padding-bottom: 0px;
}

@media only screen and (min-width: 800px) {
    .controls-container {
        max-width: 2 * base.$ctlwidth-wide;
    }
}


.sr-button-wide{
    background-color: rgb(89, 59, 210);
border-color: transparent;}
.sr-button-wide:hover{
    background-color: rgb(134, 117, 204);
border-color: transparent;}
.showmap-ctn {
    margin-top: base.$margintop;
    width: base.$ctlwidth-wide;
}

.sort-filt-label {
    font-weight: bold;
    margin-top: base.$margintop;
    margin-bottom: base.$margintop;
}

.p-accordion 
{
    background-color: red;

}
:host::ng-deep {
    .sortfilt-ctn {
        border-radius: 35px;
        width: 100%;
        margin: auto;
        margin-left: 4px;
    }
}

.refresh-btn {
    margin-left: 20px;
    font-size: 2em;
    color: rgb(126, 60, 129);
}

.thegrid {
    align-items: center;
}

.clear-btn {
    border-radius: 10px;
    width: 20px;
}
.num-msg-ctn {
    margin-left: 16px;
    margin-right: -16px;
}
.area-dd {
    padding-right: 10px;
    padding-left: 6px;
}
.outer {
    border: solid 1px rgb(238, 238, 238);
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 6px 10px rgba(184, 181, 181, 0.25);
    transition: all 0.2s;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.775);
}
